
:root {
  --black: #1a1a1a;
  --grey: #f4f4f4;
  --white: #fff;
  --red: red;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
  position: relative;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

h1 {
  font-weight: 900;
  font-size: 4.25em;
}

h2{
    font-size: 3em;
    font-weight: 900;
}

h3 {
  font-size: 2em;
  font-weight: 500;
}

h4 {
  font-weight: 500;
}

.img-fluid {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}

.w70{
  width: 70%;
}

.w60{
  width: 60%;
}

.w50 {
  width: 50%;
}

.w40{
  width: 40%;
}

.w33 {
  width: 33.33%;
}

.w25{
  width: 25%;
}

.fcontent {
  display: flex;
  flex-wrap: wrap;
}

.content-grid{
  margin: -15px;
}

.small-text{
  font-size: 0.8em;
}

/*Navbar Lang*/
.navbar-lang{
  text-transform: uppercase;
  background-color: var(--grey);
  padding: 10px 0;
}

.navbar-lang img{
  height: 14px;
}

.navbar-lang span{
  margin-left: 7.5px;
}

.infos-lang{
  display: flex;
  justify-content: flex-end;
}

/*Navbar Home*/
nav{
  padding: 20px 0;
  position: fixed;
  width: 100%;
}

.content-navbar{
  margin: 0 -20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.content-navbar a{
  padding: 5px;
  margin: 0 15px;
}

.tools-navbar{
  display: flex;
}

.menu-navbar{
  display: flex;
  text-transform: uppercase;
}

.logo-navbar img{
  vertical-align: bottom;
}

.cart-icon-navbar{
  position: relative;
}

.number-article{
  color: var(--white);
  background-color: var(--red);
  position: absolute;
  top: -2.5px;
  right: -5px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  text-align: center;
}

.sub-nav{
  position: fixed;
  top: 94px;
  left: 0;
  width: 100%;
  display: none;
  z-index: 99;
}

.sub-nav a{
  margin: 15px 0;
  padding: 0;
}

.sub-nav li{
  padding: 5px 0;
}

.content-sub-nav{
  padding: 70px 0 75px 0;
  display: flex;
}

.sub-nav span{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

.menu-navbar li:hover .sub-nav{
  display: block;
}